{%- unless skip_styles -%}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
{%- endunless -%}
{%- if card_product and card_product != empty -%}
  {%- assign product_form_id = 'card-product-' | append: section_id | append: '-' | append: card_product.id -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}

  <div class="card-wrapper product-card-wrapper">
    <div
      class="card card--{{ settings.card_style }} card--media{% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        <div class="card__media">
          <a href="{{ card_product.url }}" class="media media--transparent media--hover-effect">
            {%- if card_product.featured_media -%}
              {%- assign _featured_media = card_product.featured_media -%}
              {%- if lazy_load == false -%}
                {{
                  _featured_media
                  | image_url: width: 900
                  | image_tag:
                    class: 'motion-reduce',
                    widths: '165, 360, 533, 720, 940, 1066',
                    sizes: '(min-width: 990px) 25vw, (min-width: 750px) 33vw, 50vw',
                    alt: _featured_media.alt
                }}
              {%- else -%}
                {{
                  _featured_media
                  | image_url: width: 900
                  | image_tag:
                    loading: 'lazy',
                    class: 'motion-reduce',
                    widths: '165, 360, 533, 720, 940, 1066',
                    sizes: '(min-width: 990px) 25vw, (min-width: 750px) 33vw, 50vw',
                    alt: _featured_media.alt
                }}
              {%- endif -%}
            {%- endif -%}
          </a>
        </div>
      </div>

      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading">
            <a href="{{ card_product.url }}" class="full-unstyled-link">
              {{ card_product.title | escape | truncate: 30 }}
            </a>
          </h3>
         
          {% comment %}
          <div class="price">
            {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
          </div>
          {% endcomment %}<div class="offer-text">
  {% if product.compare_at_price > product.price %}
    {% assign discount = product.compare_at_price | minus: product.price %}
    {{ discount | money }} Off + Free Shipping
  {% else %}
    Free Shipping
  {% endif %}
</div>

<style>
  .offer-text {
      color: #4041f1;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
  }
</style>

            <div class="card-product__actions">
            <a style="font-size:16px;" href="{{ card_product.url }}" class="global-border-button" style="width:100%;">
              Shop
            </a>
            </div>
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  {%- liquid
    assign ratio = 1
  -%}
  <div class="card-wrapper product-card-wrapper">
    <div
      class="card card--{{ settings.card_style }} card--media{% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        <div class="card__media">
          <div class="media media--transparent">
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
      </div>

<div class="card__content">
  <div class="card__information">
    <h3 class="card__heading">{{ 'onboarding.product_title' | t }}</h3>

    <div class="price">
      {% render 'price', placeholder: true, show_compare_at_price: true %}
    </div>


    
    
    <div class="card-product__actions">
      <button type="button" class="global-button-black" disabled>
        {{ 'products.product.add_to_cart' | t }}
      </button>
    </div>

  </div>
</div>
  </div>
{%- endif -%}

<style>
.card__heading {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media (min-width: 1300px) {
  .card__heading {
    min-height: 55px;
  }
}

</style>