<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        <header-menu>
          <details id="Details-HeaderMenu-{{ forloop.index }}">
<summary
  id="HeaderMenu-{{ link.handle }}"
  class="header__menu-item list-menu__item link focus-inset
    {% if link.current %} header__active-menu-item{% endif %}
    {% if link.title contains 'Sale' or link.handle contains 'sale' %} sale-menu-item{% endif %}"
>

                <span>
                  {{ link.title | escape }}
                </span>
              </summary>

            <ul
              id="HeaderMenu-MenuList-{{ forloop.index }}"
              class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
              role="list"
              tabindex="-1"
            >

              {%- if link.links != blank -%}
                {%- for childlink in link.links -%}
                  <li>
                    <a
                      href="{{ childlink.url }}"
                      class="header__menu-item list-menu__item link link--text focus-inset caption-large"
                    >
                      {{ childlink.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}

              {%- else -%}

        {%- assign menu_handle = link.handle | downcase -%}
        {%- assign matched_mega_block = blank -%}

        {%- for block in section.blocks -%}
          {%- if block.type == 'mega_menu_item' and block.settings.menu_handle != blank -%}
            {%- assign block_handle = block.settings.menu_handle | handleize -%}
            {%- if block_handle == menu_handle -%}
              {%- assign matched_mega_block = block -%}
              {%- break -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if matched_mega_block != blank -%}
          {% render 'mega-menu-generic',
            menu_link: link,
            product_1: matched_mega_block.settings.product_1,
            product_2: matched_mega_block.settings.product_2,
            cta_text: matched_mega_block.settings.cta_text,
            cta_url: matched_mega_block.settings.cta_url
          %}
        {%- else -%}
          ... normal menu logic ...
        {%- endif -%}

              {%- endif -%}

            </ul>
          </details>
        </header-menu>
      </li>
    {%- endfor -%}
  </ul>
</nav>

<style>
  .sale-menu-item span {
  font-weight: 600 !important;
  color: #4041F1 !important;
}
</style>
