<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        <header-menu>
          <details id="Details-HeaderMenu-{{ forloop.index }}">
<summary
  id="HeaderMenu-{{ link.handle }}"
  class="header__menu-item list-menu__item link focus-inset
    {% if link.current %} header__active-menu-item{% endif %}
    {% if link.title contains 'Sale' or link.handle contains 'sale' %} sale-menu-item{% endif %}"
>

                <span>
                  {{ link.title | escape }}
                </span>
              </summary>

            <ul
              id="HeaderMenu-MenuList-{{ forloop.index }}"
              class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
              role="list"
              tabindex="-1"
            >

              {%- if link.links != blank -%}
                {%- for childlink in link.links -%}
                  <li>
                    <a
                      href="{{ childlink.url }}"
                      class="header__menu-item list-menu__item link link--text focus-inset caption-large"
                    >
                      {{ childlink.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}

              {%- else -%}

        {%- assign menu_handle = link.handle | downcase -%}
        {%- case menu_handle -%}

  {%- when 'treadmills' -%}
    {% render 'mega-menu-treadmills' %}

  {%- when 'bikes' -%}
    {% render 'mega-menu-bikes' %}

  {%- when 'sale' -%}
    {% render 'mega-menu-sale' %}

  {%- else -%}
    ... normal menu logic ...

{%- endcase -%}

              {%- endif -%}

            </ul>
          </details>
        </header-menu>
      </li>
    {%- endfor -%}
  </ul>
</nav>

<style>
  .sale-menu-item span {
  font-weight: 600 !important;
  color: #4041F1 !important;
}
</style>
