<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        <header-menu>
          <details id="Details-HeaderMenu-{{ forloop.index }}">
            <summary
              id="HeaderMenu-{{ link.handle }}"
              class="header__menu-item list-menu__item link focus-inset"
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{ link.title | escape }}
              </span>
              {{ 'icon-caret.svg' | inline_asset_content }}
            </summary>

            <ul
              id="HeaderMenu-MenuList-{{ forloop.index }}"
              class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
              role="list"
              tabindex="-1"
            >

              {%- if link.links != blank -%}
                {%- for childlink in link.links -%}
                  <li>
                    <a
                      href="{{ childlink.url }}"
                      class="header__menu-item list-menu__item link link--text focus-inset caption-large"
                    >
                      {{ childlink.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}

              {%- else -%}

                {# --- CUSTOM CONTENT FOR EMPTY MENUS --- #}

            {%- if link.handle == 'treadmill' -%}

  <li class="mega-block">
    <div class="mega-grid">
      
      <div class="mega-card">
        <h4>Treadmills</h4>
        <p>Shop our full treadmill range</p>
        <a href="/collections/treadmills" class="button">
          Shop Treadmills
        </a>
      </div>

      <div class="mega-card">
        <h4>Compare Models</h4>
        <p>Find the right treadmill for you</p>
        <a href="/pages/treadmill-comparison" class="button button--secondary">
          Compare
        </a>
      </div>

    </div>
  </li>

{%- elsif link.links != blank -%}

  {%- for childlink in link.links -%}
    <li>
      <a href="{{ childlink.url }}" class="header__menu-item">
        {{ childlink.title }}
      </a>
    </li>
  {%- endfor -%}

{%- else -%}

  <li>
    <a href="{{ link.url }}" class="header__menu-item">
      Shop {{ link.title }}
    </a>
  </li>

{%- endif -%}

              {%- endif -%}

            </ul>
          </details>
        </header-menu>
      </li>
    {%- endfor -%}
  </ul>
</nav>