{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'bowflex-cart.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}
<div class="smarte-cart">
  <div class="page-width">
    <div class="cart-title">
      <div id="item-count-update" style="justify-content:flex-start !important" class="title-wrapper-with-link">
        <h1 class="title title--primary">Basket</h1>
        <span id="cart-item-total" class="shopify-section item-count"
          >({{ cart.item_count }}
          {{ cart.item_count | pluralize: 'Item', 'Items' }})</span
        >
      </div>
    </div>

    <div class="smarte-cart-main">
      <cart-items class="{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
        <div class="cart__warnings">
          <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>

          {%- if shop.customer_accounts_enabled and customer == null -%}
            <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
            <p class="cart__login-paragraph">
              {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
            </p>
          {%- endif -%}
        </div>

        <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
          <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
            <div class="js-contents1">
              {%- if cart != empty -%}
                <table class="cart-items">
                  <caption class="visually-hidden">
                    {{ 'sections.cart.title' | t }}
                  </caption>

                  <tbody class="flex-cart-items">
                    {%- for item in cart.items -%}
                      <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                        <td class="cart-item__media">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                            <div class="cart-item__image-container gradient global-media-settings">
                              <img
                                src="{{ item.image | image_url: width: 300 }}"
                                class="cart-item__image"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            </div>
                          {% endif %}
                        </td>

                        <td class="cart-item__details">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          {% if item.product.type == 'Gift' %}
                            <span class="cart-item__name h4 break">{{ item.product.title | escape }}</span>
                          {% else %}
                            <a href="{{ item.url }}" class="cart-item__name h4 break">
                              {{- item.product.title | escape -}}
                            </a>
                          {% endif %}

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl></dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.discounts -%}
                              <li class="discounts__discount">
                                {%- render 'icon-discount' -%}
                                {{ discount.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </td>

                        <td class="cart-item__quantity only-desktop">
                          <div class="cart-item__quantity-wrapper">
                            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
                            <quantity-input class="quantity cart-quantity">
                              <button class="quantity__button" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-minus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <input
                                class="quantity__input"
                                data-quantity-variant-id="{{ item.variant.id }}"
                                type="number"
                                name="updates[]"
                                value="{% if item.variant.id == 56351516950863 %}1{% else %}{{ item.quantity }}{% endif %}"
                                {% # theme-check-disable %}
                                data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                min="{% if item.variant.id == 56351516950863 %}1{% else %}0{% endif %}"
                                data-min="{% if item.variant.id == 56351516950863 %}1{% else %}{{ item.variant.quantity_rule.min }}{% endif %}"
                                max="{% if item.variant.id == 56351516950863 %}1{% else %}{{ item.variant.inventory_quantity }}{% endif %}"
                                step="{% if item.variant.id == 56351516950863 %}1{% else %}{{ item.variant.quantity_rule.increment }}{% endif %}"
                                {% # theme-check-enable %}
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                                {% if item.variant.id == 56351516950863 %}
                                  readonly
                                {% endif %}
                              >

                              <button class="quantity__button" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-plus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </quantity-input>
                          </div>
                        </td>

                        <td class="cart-item__remove only-desktop">
                          <div class="smarte-remove">
                            <div class="svg remove"></div>
                            <cart-remove-button
                              class="remove"
                              id="Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <a
                                href="{{ item.url_to_remove }}"
                                class="button button--tertiary"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                              >
                                Remove
                              </a>
                            </cart-remove-button>
                          </div>
                        </td>

                        <td class="cart-item__totals right only-desktop">
                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              <svg
                                aria-hidden="true"
                                focusable="false"
                                role="presentation"
                                class="spinner"
                                viewBox="0 0 66 66"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                            </div>
                          </div>
                          <div class="cart-item__price-wrapper">
                            {% if item.product.type == 'Gift' %}
                              <div class="product-option product_price">
                                <span>Free</span>
                              </div>
                            {% elsif item.product.tags contains 'bundle-title: Pick n Mix' %}
                              {% assign productPrice = item.product.metafields.custom_fields %}
                              <div class="product-option product_price">
                                <span>{{ productPrice.price }}</span>
                              </div>
                            {% else %}
                              {% unless item.properties.bundleTitle %}
                                {% if item.variant.compare_at_price >= item.original_price %}
                                  <div class="product-option product_price">
                                    <span>{{ item.original_price | money }}</span>
                                    <s class="compare--price">{{ item.variant.compare_at_price | money }}</s>
                                  </div>
                                {% else %}
                                  <div class="product-option product_price product_original_Price">
                                    <span>{{ item.original_price | money }}</span>
                                  </div>
                                {% endif %}
                              {% endunless %}
                              {% if item.properties.bundleTitle %}
                                {% if item.discounted_price <= item.original_price %}
                                  <div class="product-option product_price">
                                    <span>{{ item.discounted_price | money }}</span>
                                    <s class="compare--price">{{ item.original_price | money }}</s>
                                  </div>
                                {% else %}
                                  <div class="product-option product_price product_original_Price">
                                    <span>{{ item.original_price | money }}</span>
                                  </div>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                            {% if item.variant.available and item.unit_price_measurement %}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden">
                                  {{ 'accessibility.unit_price_separator' | t }}
                                </span>
                                {% if item.variant.unit_price_measurement.reference_value != 1 %}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {% endif %}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {% endif %}
                          </div>
                        </td>
                        <td class="cart-mobile-elements">
                          <div class="smarte-remove">
                            <cart-remove-button
                              class="remove"
                              id="Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <a
                                href="{{ item.url_to_remove }}"
                                class="button button--tertiary"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                              >
                                {% render 'smarte-icon-bin' %}
                              </a>
                            </cart-remove-button>
                          </div>
                          <div class="cart-item__quantity">
                            <div class="cart-item__quantity-wrapper">
                              <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                                {{ 'products.product.quantity.label' | t }}
                              </label>
                              <quantity-input class="quantity cart-quantity">
                                <button class="quantity__button" name="minus" type="button">
                                  <span class="visually-hidden">
                                    {{-
                                      'products.product.quantity.decrease'
                                      | t: product: item.product.title
                                      | escape
                                    -}}
                                  </span>
                                  <span class="svg-wrapper">
                                    {{- 'icon-minus.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                <input
                                  class="quantity__input"
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  type="number"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="0"
                                  data-min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ item.variant.quantity_rule.increment }}"
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button class="quantity__button" name="plus" type="button">
                                  <span class="visually-hidden">
                                    {{-
                                      'products.product.quantity.increase'
                                      | t: product: item.product.title
                                      | escape
                                    -}}
                                  </span>
                                  <span class="svg-wrapper">
                                    {{- 'icon-plus.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                              </quantity-input>
                            </div>
                            <div class="loading-overlay hidden">
                              <div class="loading-overlay__spinner">
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  role="presentation"
                                  class="spinner"
                                  viewBox="0 0 66 66"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>
                          </div>
                          <div class="cart-item__price-wrapper">
                            {% if item.product.type == 'Gift' %}
                              <div class="product-option product_price">
                                <span>Free</span>
                              </div>
                            {% elsif item.product.tags contains 'bundle-title: Pick n Mix' %}
                              {% assign productPrice = item.product.metafields.custom_fields %}
                              <div class="product-option product_price">
                                <span>{{ productPrice.price }}</span>
                              </div>
                            {% else %}
                              {% unless item.properties.bundleTitle %}
                                {% if item.variant.compare_at_price >= item.original_price %}
                                  <div class="product-option product_price">
                                    <span>{{ item.original_price | money }}</span>
                                    <s class="compare--price">{{ item.variant.compare_at_price | money }}</s>
                                  </div>
                                {% else %}
                                  <div class="product-option product_price product_original_Price">
                                    <span>{{ item.original_price | money }}</span>
                                  </div>
                                {% endif %}
                              {% endunless %}
                              {% if item.properties.bundleTitle %}
                                {% if item.discounted_price <= item.original_price %}
                                  <div class="product-option product_price">
                                    <span>{{ item.discounted_price | money }}</span>
                                    <s class="compare--price">{{ item.original_price | money }}</s>
                                  </div>
                                {% else %}
                                  <div class="product-option product_price product_original_Price">
                                    <span>{{ item.original_price | money }}</span>
                                  </div>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                            {% if item.variant.available and item.unit_price_measurement %}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden">
                                  {{ 'accessibility.unit_price_separator' | t }}
                                </span>
                                {% if item.variant.unit_price_measurement.reference_value != 1 %}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {% endif %}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- endif -%}
            </div>

          </div>

          <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
          <p
            class="visually-hidden"
            id="shopping-cart-line-item-status"
            aria-live="polite"
            aria-hidden="true"
            role="status"
          >
            {{ 'accessibility.loading' | t }}
          </p>
        </form>
      </cart-items>
      <div class="smarte-cart-footer">
        <div
          style="position:relative;"
          class="{% if cart == empty %} is-empty{% endif %}"
          id="main-cart-footer"
          data-id="{{ section.id }}"
        >
          <div class="cart__footer">
            {%- if settings.show_cart_note -%}
              <cart-note class="cart__note field">
                <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
                <textarea
                  class="text-area field__input"
                  name="note"
                  form="cart"
                  id="Cart-note"
                  placeholder="{{ 'sections.cart.note' | t }}"
                >{{ cart.note }}</textarea>
              </cart-note>
            {%- endif -%}

            <div class="cart__blocks">
              <div class="js-contents">
{% assign total_savings = 0 %}

{% for item in cart.items %}
  {% if item.variant.compare_at_price > item.variant.price %}
    {% assign savings = item.variant.compare_at_price | minus: item.variant.price %}
    {% assign line_savings = savings | times: item.quantity %}
    {% assign total_savings = total_savings | plus: line_savings %}
  {% endif %}
{% endfor %}

                <div class="savings-calculation">
                  <span class="savings-title">Savings</span>
                  {% if total_savings > 0 %}
                    <p class="savings-message">{{ total_savings | money }}</p>
                  {% else %}
                    <p class="savings-message">£0.00</p>
                  {% endif %}
                </div>

                <div class="delivery-calculation">
                  <span class="delivery-title">Delivery</span>
                  <p class="delivery-message">Calculated at next step</p>
                </div>

                <div class="totals">
                  <span class="totals__subtotal">Total</span>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="discounts__discount discounts__discount--position">
                        {{- 'icon-discount.svg' | inline_asset_content -}}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>

                {% if total_savings > 0 %}
                  <div class="you-saved">
                    <div class="hr-left"></div>

                    <svg stroke="currentColor" fill="currentColor" viewBox="0 0 512 512" height="1em" width="1em">
                      <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                    </svg>

                    You Saved {{ total_savings | money }}

                    <div class="hr-right"></div>
                  </div>


                    <style>
                      .you-saved {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                      }

                      .hr-left,
                      .hr-right {
                        flex: 1;
                        display:flex;
                        height: 1px;
                        background-color: #e5e5e5; /* soft grey */
                      }

                      .hr-left {
                        margin-right: 0.5rem;
                      }

                      .hr-right {
                        margin-left: 0.5rem;
                      }
                    </style>

                {% endif %}
              <div class="cart__ctas">
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="global-blue-button"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  <span class="content">Secure Checkout</span>
                  <span class="icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                </button>
                {%- if additional_checkout_buttons -%}
                  <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>

        {% comment %}
          <div class="smarte-cart-tabs">
            <div class="accordion">
              <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                  <span class="accordion-title">Do you have a discount code?</span
                  ><span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                  <form action="/cart" class="discount-code-tab" method="post">
                    <input type="text" name="discount" id="cart-discount-code" placeholder="Enter discount code">
                    <button type="submit" class="cart-discount-code-btn">Apply</button>
                  </form>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false">
                  <span class="accordion-title">Shipping and Delivery Information</span
                  ><span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                  <span> {{ section.settings['delivery-text'] }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const expandButtons = document.querySelectorAll('.expand-button');
    expandButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        const parentSection = this.closest('.smarte-payment-expandable-section');
        parentSection.classList.toggle('expanded');

        if (parentSection.classList.contains('expanded')) {
          this.textContent = 'Hide other payment options';
        } else {
          this.textContent = 'View other payment options';
        }
      });
    });
  });
</script>

<script>
  const items = document.querySelectorAll('.accordion button');

  function toggleAccordion() {
    const itemToggle = this.getAttribute('aria-expanded');

    for (let i = 0; i < items.length; i++) {
      items[i].setAttribute('aria-expanded', 'false');
    }

    if (itemToggle === 'false') {
      this.setAttribute('aria-expanded', 'true');
    }
  }

  items.forEach((item) => item.addEventListener('click', toggleAccordion));
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js" async></script>

<script>
  function calculateDeliveryDate() {
    var deliveryDate = Date.today().addDays(1);
    if (deliveryDate.is().saturday() || deliveryDate.is().sunday()) {
      deliveryDate = deliveryDate.next().monday();
    }

    function getDayWithSuffix(day) {
      if (day > 3 && day < 21) return day + 'th';
      switch (day % 10) {
        case 1:
          return day + 'st';
        case 2:
          return day + 'nd';
        case 3:
          return day + 'rd';
        default:
          return day + 'th';
      }
    }

    var formattedDate = getDayWithSuffix(deliveryDate.getDate()) + ' ' + deliveryDate.toString('MMM');

    var dispatchDates = document.querySelectorAll('.dispatch-date');
    dispatchDates.forEach(function (element) {
      element.innerHTML = formattedDate;
    });
  }

  window.addEventListener('load', function () {
    if (typeof Date !== 'undefined') {
      calculateDeliveryDate();
    } else {
      document.querySelector('script[src*="date.min.js"]').addEventListener('load', calculateDeliveryDate);
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "class": "smarte-cart-items-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "story-heading",
      "label": "Story Heading",
      "default": "Our Story"
    },
    {
      "type": "textarea",
      "id": "story-description",
      "label": "Story Description",
      "default": "Write your story here."
    },
    {
      "type": "textarea",
      "id": "story-name",
      "label": "Story Name",
      "default": "Verified Buyer"
    },
    {
      "type": "header",
      "content": "Promise Section"
    },
    {
      "type": "paragraph",
      "content": "Smarte Promise"
    },
    {
      "type": "text",
      "id": "trust-number",
      "default": "14,800+",
      "label": "Reviews number"
    },
    {
      "type": "image_picker",
      "id": "image-main",
      "label": "image"
    },
    {
      "type": "richtext",
      "id": "main-details",
      "label": "Promise"
    },
    {
      "type": "image_picker",
      "id": "icon-one",
      "label": "icon one"
    },
    {
      "type": "text",
      "id": "icon-text-one",
      "label": "Icon text"
    },
    {
      "type": "image_picker",
      "id": "icon-two",
      "label": "icon two"
    },
    {
      "type": "text",
      "id": "icon-text-two",
      "label": "Icon text"
    },
    {
      "type": "image_picker",
      "id": "icon-three",
      "label": "icon three"
    },
    {
      "type": "text",
      "id": "icon-text-three",
      "label": "Icon text"
    },

    {
      "type": "header",
      "content": "Tab content"
    },
    {
      "type": "richtext",
      "id": "delivery-text",
      "label": "Delivery tab content",
      "default": "<p>We offer free delivery to UK mainland addresses on all orders £40 and over. There is a small charge of £3.50 for all items under this amount.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
